In [156]:
import tabula
import numpy as np
import pandas as pd
import seaborn as sns
import pprint

In [157]:
#tabula.convert_into("Sem-I2014Batch.pdf", "Sem-I2014Batch.pdf.csv", output_format="csv", pages='all')
#tabula.convert_into("aidssem.pdf", "aidssem.csv", output_format="csv", pages='all')

In [158]:
df = pd.read_csv("aidssem.csv")

In [159]:
# Data Cleaning

i = df[((df.Htno == 'Htno') &( df.Subcode == 'Subcode') & (df.Subname == 'Subname') & (df.Grade == 'Grade') & (df.Credits == 'Credits'))].index
df.drop(i,inplace=True)

df.reset_index(inplace=True)
del df['index']

In [160]:
df.head(30)

          Htno     Subcode                             Subname Grade Credits
0   20L31A5401  1000201205       Statistics for Data Science-I     O       3
1   20L31A5401  1005201201               Computer Organization     C       3
2   20L31A5401  1005201202                          Web Design     B       3
3   20L31A5401  1005201203                     Data Structures     B       3
4   20L31A5401  1005201211                      Web Design Lab     O     1.5
5   20L31A5401  1005201212                 Data Structures Lab     C     1.5
6   20L31A5401  1000201213            Physics of Materials Lab     A     1.5
7   20L31A5401  1000201214  R Programming for Data Science Lab     A     1.5
8   20L31A5401  1000201121               Constitution of India    CP       -
9   20L31A5402  1000201205       Statistics for Data Science-I     A       3
10  20L31A5402  1005201201               Computer Organization     O       3
11  20L31A5402  1005201202                          Web Design     C       3
12  20L31A5402  1005201203                     Data Structures     B       3
13  20L31A5402  1005201211                      Web Design Lab     A     1.5
14  20L31A5402  1005201212                 Data Structures Lab     B     1.5
15  20L31A5402  1000201213            Physics of Materials Lab     O     1.5
16  20L31A5402  1000201214  R Programming for Data Science Lab     O     1.5
17  20L31A5402  1000201121               Constitution of India    CP       -
18  20L31A5403  1000201205       Statistics for Data Science-I     C       3
19  20L31A5403  1005201201               Computer Organization     C       3
20  20L31A5403  1005201202                          Web Design     C       3
21  20L31A5403  1005201203                     Data Structures     C       3
22  20L31A5403  1005201211                      Web Design Lab     A     1.5
23  20L31A5403  1005201212                 Data Structures Lab     B     1.5
24  20L31A5403  1000201213            Physics of Materials Lab     A     1.5
25  20L31A5403  1000201214  R Programming for Data Science Lab     O     1.5
26  20L31A5403  1000201121               Constitution of India    CP       -
27  20L31A5404  1000201205       Statistics for Data Science-I     O       3
28  20L31A5404  1005201201               Computer Organization     A       3
29  20L31A5404  1005201202                          Web Design     B       3

In [161]:
subjects = df['Subname'].unique()
htno = df['Htno'].unique()
sub_code = df['Subcode'].unique()


print(htno)
print('\n\n')
sub_dict = dict(zip(sub_code,subjects))
pprint.pprint(sub_dict)

grade_count = df['Grade'].value_counts().to_dict()
print('\n\n')
pprint.pprint(grade_count)

['20L31A5401' '20L31A5402' '20L31A5403' '20L31A5404' '20L31A5405'
 '20L31A5406' '20L31A5407' '20L31A5408' '20L31A5409' '20L31A5411'
 '20L31A5412' '20L31A5413' '20L31A5414' '20L31A5415' '20L31A5416'
 '20L31A5417' '20L31A5418' '20L31A5419' '20L31A5420' '20L31A5421'
 '20L31A5422' '20L31A5423' '20L31A5424' '20L31A5425' '20L31A5426'
 '20L31A5427' '20L31A5428' '20L31A5429' '20L31A5430' '20L31A5431'
 '20L31A5432' '20L31A5433' '20L31A5434' '20L31A5435' '20L31A5436'
 '20L31A5437' '20L31A5438' '20L31A5439' '20L31A5440' '20L31A5441'
 '20L31A5442' '20L31A5443' '20L31A5444' '20L31A5445' '20L31A5446'
 '20L31A5447' '20L31A5448' '20L31A5449' '20L31A5450' '20L31A5451'
 '20L31A5452' '20L31A5453' '20L31A5454' '20L31A5455' '20L31A5456'
 '20L31A5457' '20L31A5458' '20L31A5459' '20L31A5460' '20L31A5461'
 '20L31A5462' '20L31A5463' '20L31A5464']



{'1000201121': 'Constitution of India',
 '1000201205': 'Statistics for Data Science-I',
 '1000201213': 'Physics of Materials Lab',
 '1000201214': 'R Programming for Data Science Lab',
 '1005201201': 'Computer Organization',
 '1005201202': 'Web Design',
 '1005201203': 'Data Structures',
 '1005201211': 'Web Design Lab',
 '1005201212': 'Data Structures Lab'}



{'A': 148, 'B': 92, 'C': 75, 'CP': 63, 'D': 43, 'F': 16, 'O': 130}

In [162]:
table = df.pivot(index='Htno', columns='Subname', values='Grade').fillna(0)
table.head(30)

Subname,Computer Organization,Constitution of India,Data Structures,Data Structures Lab,Physics of Materials Lab,R Programming for Data Science Lab,Statistics for Data Science-I,Web Design,Web Design Lab
Htno,,,,,,,,,
20L31A5401,C,CP,B,C,A,A,O,B,O
20L31A5402,O,CP,B,B,O,O,A,C,A
20L31A5403,C,CP,C,B,A,O,C,C,A
20L31A5404,A,CP,A,A,O,O,O,B,O
20L31A5405,C,CP,D,C,A,A,B,C,A
20L31A5406,D,CP,D,C,O,O,C,D,A
20L31A5407,D,CP,C,C,O,A,D,D,A
20L31A5408,D,CP,D,C,O,O,D,D,A
20L31A5409,B,CP,B,A,O,O,O,D,O
20L31A5411,B,CP,B,C,O,O,A,B,A
20L31A5412,D,CP,D,C,O,A,D,F,A
20L31A5413,B,CP,A,A,O,O,A,B,O
20L31A5414,O,CP,A,O,O,A,O,B,A
20L31A5415,O,CP,C,A,O,A,C,C,O
20L31A5416,A,CP,B,B,A,A,B,C,A
20L31A5417,D,CP,D,C,A,A,F,D,A
20L31A5418,O,CP,A,A,O,A,O,B,O
20L31A5419,B,CP,B,B,O,A,A,C,O
20L31A5420,F,CP,C,B,A,O,A,C,O
20L31A5421,F,CP,F,B,A,A,F,D,A
20L31A5422,F,CP,D,B,A,A,F,D,O
20L31A5423,A,CP,B,B,A,A,A,C,A
20L31A5424,D,CP,C,C,O,O,A,C,A
20L31A5425,B,CP,C,B,O,A,O,C,O
20L31A5426,A,CP,A,O,O,O,O,B,O
20L31A5427,A,CP,B,O,O,A,C,B,A
20L31A5428,A,CP,B,B,O,A,O,C,O
20L31A5429,D,CP,C,B,O,A,B,C,O
20L31A5430,C,CP,C,A,O,A,C,C,O
20L31A5431,A,CP,B,A,O,A,O,C,O

In [163]:
grade_dict = {'O':10,'A':9,'B':8,'C':7,'D':6,'F':-1}


df['GradePt'] = (df['Grade'].map(grade_dict).fillna(0))
df['GradePt'] = df['GradePt'].astype(float)
df = df.replace(to_replace ="-",
                 value ="0")
df['Credits'] = df['Credits'].astype(float)

df.head(10)

,Htno,Subcode,Subname,Grade,Credits,GradePt
0,20L31A5401,1000201205,Statistics for Data Science-I,O,3.0,10.0
1,20L31A5401,1005201201,Computer Organization,C,3.0,7.0
2,20L31A5401,1005201202,Web Design,B,3.0,8.0
3,20L31A5401,1005201203,Data Structures,B,3.0,8.0
4,20L31A5401,1005201211,Web Design Lab,O,1.5,10.0
5,20L31A5401,1005201212,Data Structures Lab,C,1.5,7.0
6,20L31A5401,1000201213,Physics of Materials Lab,A,1.5,9.0
7,20L31A5401,1000201214,R Programming for Data Science Lab,A,1.5,9.0
8,20L31A5401,1000201121,Constitution of India,CP,0.0,0.0
9,20L31A5402,1000201205,Statistics for Data Science-I,A,3.0,9.0

In [164]:
df['CreditsMul'] = df.Credits * df.GradePt
df.head(10)

,Htno,Subcode,Subname,Grade,Credits,GradePt,CreditsMul
0,20L31A5401,1000201205,Statistics for Data Science-I,O,3.0,10.0,30.0
1,20L31A5401,1005201201,Computer Organization,C,3.0,7.0,21.0
2,20L31A5401,1005201202,Web Design,B,3.0,8.0,24.0
3,20L31A5401,1005201203,Data Structures,B,3.0,8.0,24.0
4,20L31A5401,1005201211,Web Design Lab,O,1.5,10.0,15.0
5,20L31A5401,1005201212,Data Structures Lab,C,1.5,7.0,10.5
6,20L31A5401,1000201213,Physics of Materials Lab,A,1.5,9.0,13.5
7,20L31A5401,1000201214,R Programming for Data Science Lab,A,1.5,9.0,13.5
8,20L31A5401,1000201121,Constitution of India,CP,0.0,0.0,0.0
9,20L31A5402,1000201205,Statistics for Data Science-I,A,3.0,9.0,27.0

In [165]:
stud_sgpa_dict= {}
stud_percentage_dict= {}

ranks_df = pd.DataFrame()
ranks_df['Rollno'] = df['Htno'].unique()

for i in htno:
    stud_df = df[df['Htno']==i]
    stud_df.head(10)
    sem_total_crdits = stud_df['Credits'].sum()
    stud_total_crdits = stud_df['CreditsMul'].sum()
    stud_sgpa = round(stud_total_crdits/sem_total_crdits,4)
    stud_sem_percentage = (stud_sgpa*10)-7.5
    stud_sgpa_dict.update({i:stud_sgpa})
    stud_percentage_dict.update({i:stud_sem_percentage})


stud_sgpa = pd.DataFrame([stud_sgpa_dict])
stud_sgpa_df = stud_sgpa.T
stud_percentage = pd.DataFrame([stud_percentage_dict]) 
stud_percentage_df = stud_percentage.T

In [166]:
ranks_df = pd.concat([stud_sgpa_df,stud_percentage_df],axis=1,sort=True)
ranks_df.columns = ['Sgpa','Percentage']
ranks_df = ranks_df.sort_values(by=['Sgpa'], ascending=False)
ranks_df.reset_index(inplace=True)
ranks_df.rename(columns = {'index':'Rollno'}, inplace = True)
ranks_df.index+=1
ranks_df['Rank'] = ranks_df.index
ranks_df.head(10)

        Rollno    Sgpa  Percentage  Rank
1   20L31A5452  9.3333      85.833     1
2   20L31A5426  9.3333      85.833     2
3   20L31A5418  9.3333      85.833     3
4   20L31A5414  9.3333      85.833     4
5   20L31A5404  9.2500      85.000     5
6   20L31A5454  9.2500      85.000     6
7   20L31A5455  9.1667      84.167     7
8   20L31A5450  9.1667      84.167     8
9   20L31A5457  9.0000      82.500     9
10  20L31A5413  8.9167      81.667    10

In [167]:
class_topper_roll = ranks_df.iloc[0]['Rollno']
class_topper_roll

'20L31A5452'

In [168]:
avg_sgpa = round(ranks_df['Sgpa'].mean(),4)
avg_percentage = round(ranks_df['Percentage'].mean(),4)

print(avg_sgpa)
print(avg_percentage)

8.2392
74.8915

In [169]:
avg_subject_grade_dict = {}
for subject in subjects:
    single_subject = df.loc[df['Subname']==subject]
    single_subject = single_subject['Grade'].value_counts().to_dict()
    avg_grade = max(single_subject, key= lambda x: single_subject[x])
    avg_subject_grade_dict.update({subject:avg_grade})

avg_subject_grade_dict

{'Statistics for Data Science-I': 'O',
 'Computer Organization': 'A',
 'Web Design': 'C',
 'Data Structures': 'B',
 'Web Design Lab': 'O',
 'Data Structures Lab': 'B',
 'Physics of Materials Lab': 'O',
 'R Programming for Data Science Lab': 'A',
 'Constitution of India': 'CP'}

In [170]:
roll = str(input("Enter roll number: "))
stud_df = df[df['Htno']==roll]

temp_stud_df = df[df['Htno']==class_topper_roll]



sem_total_credits = temp_stud_df['Credits'].sum()

stud_total_credits = stud_df['CreditsMul'].sum()

stud_sgpa = round(stud_total_credits/sem_total_credits,4)
stud_sem_percentage = (stud_sgpa*10)-7.5

print(stud_sgpa)
print(stud_sem_percentage)
stud_df.head(10)

Enter roll number: 20L31A5413
8.9167
81.667

,Htno,Subcode,Subname,Grade,Credits,GradePt,CreditsMul
99,20L31A5413,1000201205,Statistics for Data Science-I,A,3.0,9.0,27.0
100,20L31A5413,1005201201,Computer Organization,B,3.0,8.0,24.0
101,20L31A5413,1005201202,Web Design,B,3.0,8.0,24.0
102,20L31A5413,1005201203,Data Structures,A,3.0,9.0,27.0
103,20L31A5413,1005201211,Web Design Lab,O,1.5,10.0,15.0
104,20L31A5413,1005201212,Data Structures Lab,A,1.5,9.0,13.5
105,20L31A5413,1000201213,Physics of Materials Lab,O,1.5,10.0,15.0
106,20L31A5413,1000201214,R Programming for Data Science Lab,O,1.5,10.0,15.0
107,20L31A5413,1000201121,Constitution of India,CP,0.0,0.0,0.0

In [181]:
temp_rank_df = ranks_df.loc[ranks_df['Rollno']==roll]
stdu_rank = temp_rank_df['Rank'].tolist()
print(stdu_rank[0])

10

In [172]:
stud_df = stud_df.drop(['Htno', 'Subcode','Credits','GradePt','CreditsMul'], axis = 1)
stud_df_dict = stud_df.to_dict()

In [173]:
stud_df_dict

{'Subname': {99: 'Statistics for Data Science-I',
  100: 'Computer Organization',
  101: 'Web Design',
  102: 'Data Structures',
  103: 'Web Design Lab',
  104: 'Data Structures Lab',
  105: 'Physics of Materials Lab',
  106: 'R Programming for Data Science Lab',
  107: 'Constitution of India'},
 'Grade': {99: 'A',
  100: 'B',
  101: 'B',
  102: 'A',
  103: 'O',
  104: 'A',
  105: 'O',
  106: 'O',
  107: 'CP'}}

In [174]:
message = ''
for i in stud_df_dict['Subname'].keys():
    message += str(stud_df_dict['Subname'].get(i)+' --> '+stud_df_dict['Grade'].get(i))+'\n'
message+= '\n'+'Your Total Credits = '+str(stud_total_credits )+'\n'+'Semester Total Credits = '+str(sem_total_credits)
message+= '\n\n'+'Your SGPA is '+str(stud_sgpa)+'\n'+'Average SGPA in class is '+str(avg_sgpa)
message+= '\n\n'+'Your Semester percentage is '+str(stud_sem_percentage)+'%'+'\n'+'Average Semester percentage in class is '+str(avg_percentage)+'%'
message+= '\n\n'+f'You secured {stdu_rank} Rank in the class'
print(message)

Statistics for Data Science-I --> A
Computer Organization --> B
Web Design --> B
Data Structures --> A
Web Design Lab --> O
Data Structures Lab --> A
Physics of Materials Lab --> O
R Programming for Data Science Lab --> O
Constitution of India --> CP

Your Total Credits = 160.5
Semester Total Credits = 18.0

Your SGPA is 8.9167
Average SGPA in class is 8.2392

Your Semester percentage is 81.667%
Average Semester percentage in class is 74.8915%

You secured 10 Rank in the class